*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex{
    display: flex;
}

.btn{
    background-color: #0262f5;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: auto;
    font-size: 12px;
    
}
.big-cont {
    width: 80%;
    margin: 0 auto;
}
  
.small-cont {
    width: 65%;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

p{
    font-size: 13px;
    font-weight: 600;

}

h2{
    font-size: 30px;
    font-weight: 800;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.central{
    padding: 0 15px 0 15px;
}

.sx{
    padding:0 30px 0 0;
}

.dx{
    padding: 0 0 0 30px;
}

hr{
    background-color: #eaeaeb;
    color: #eaeaeb;
    border-style: solid;
    width: 50px;
}



/* HEADER */

header{
    height: 70px;
    /* background-color: lightcoral; */
    position: relative;
    font-size: 13px;
    font-weight: 700;
}
  
.header-col{
    /* background-color: bisque; */
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}

.header-left{
    width: 50%;
    /* background-color: lightblue; */
}

.header-left li, a{
list-style: none;
text-decoration: none;
padding: 0 10px;
color: inherit;
}

.header-left img{
    width: 100px;
    height: 20px;
}

.header-right{
    width: 50%;
    /* background-color: lightgreen; */
    justify-content: flex-end;
    align-items: center;
}
.header-right li, a{
    list-style: none;
    text-decoration: none;
    padding-right: 0 0px;
    color: inherit;
    }
    

    
.header-right button{
    background-color: #0262f5;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: auto;
    
}
/* fine HEADER */

            /* MAIN */

/* JUMBO */
.jumbo{
background-color: #b4d0e7;
height: 600px;
}

.jumbo h1{
    font-size: 58px;
    font-weight: 800;
    padding-top: 60px;
    padding-bottom: 40px;
}

.testo{
    width: 30%;
}


.testo p{
    font-weight: 600;
    padding-right: 5px;
    padding-bottom: 20px;
}

.testo div{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 11px;
}

.testo span{
    font-size: 35px;
}

.jumbo-col{
    width: 100%;
}

.jumbo-col img{
    padding-left: 50px;
    /* border: 1px solid red; */
    width: 70%;
    left: 0;
    bottom: -40px;
}
/* fine JUMBO */

/* inizio SECTION BUSINESS */

.business{
    margin-top: 130px;
}

.payment{
    padding-top: 50px;
    padding-bottom: 30px;
    list-style-type: none;
    align-items: center;

}

.payment li{
    align-items: center;
    padding-right: 10px;
    font-size: 13px;

}

.circle{
    border-color: #3761ff;
    border-style: solid;
    border-width: 4px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.light-circle{
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* inizio tabella Plans*/

.plans{
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.subscription{
    width: calc(100% / 3);

}

.central{
    padding: 0 15px 0 15px;

}

.sx{
    padding:0 30px 0 0;
}

.dx{
    padding: 0 0 0 30px;
}

.client{
    border: 1px solid lightgray;  
    border-bottom: 0;
    font-size: 13px;
    padding: 8px 10px 8px 0;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
}

.offer{
    border: 1px solid lightgray;
    text-align: left;
    padding: 10px 15px;
    font-size: 11px;
    height: 100%;

}

h3{
    font-size: 21px;
    font-weight: 800;}

.price{
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 13px;
}

.duration{
    color: gray;
}

.user{
    padding-top: 40px;
}

.archiving{
    padding: 20px 0px;
}

.functions{
    padding-bottom: 40px;
}

.buy{
    padding: 30px 0;
}

.buy a{
    text-decoration: underline;
    color: #0262f5;
}

.subscription hr{
    margin-bottom: 40px;
}

.details{
    padding-bottom: 50px;
}

.title {
    font-size: 13px;
    font-weight: 800;
}

.offer ul {
    padding-top: 20px;
  }
  
.offer li {
    list-style-type: none;
    padding: 8px 0px;
  }
  
.offer li::before {
    content: '\2714';
    padding-right: 10px;
    color: #0262f5;
    font-weight: 800;
}
/* fine tabella Plans */


/* sezione contact */
.contact-sx {
    float: left;
    width: 70%;
}
  
.contact-dx {
    float: left;
    width: 30%;
}
  
.contact-sx h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.contact-sx p{
    font-size: 11px;
    padding: 20px 0;
}

.contact-dx button{
    width: 100%;
    margin-top: 10px;
}

.contact{
    margin-bottom: 130px;
}
/* fine sezione contact */

/* fine SECTION BUSINESS */

/* SECTION PARTNER */
.p-contact {
    float: left;
    width: calc(100% / 2);
    padding-left: 50px;
}
  
.p-contact h3 {
    padding-top: 30px;
}
  
.p-contact p {
    padding: 25px 0px;
    line-height: 25px;
}
  
.p-img{
    float: left;
    width: calc(100% / 2);
}

.p-contact button{
    background-color: white;
    color: black;
    border: 1px solid;
}

.partner{
margin-bottom: 100px;
}

/* fine SECTION PARTNER */


/* SECTION CHOICES */

.choices{
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);
    padding: 0 10px;
}

.card
{
    padding-top: 50px;
}


.card h3{
    padding: 20px 0;
}

.underline {
    text-decoration: underline;
  }

/* fine SECTION CHOICES */
  
/* SECTION BRANDS */

.all-brands h2{
    margin-top: 120px;
    margin-bottom: 20px;

  }
  .all-brands a{
    color: #0262f5;
    text-decoration: underline;
    font-size: 12px;
  }

  .brands{
    height: 400px;
    padding-top: 20px;

}

.b-logos{
    width: 400px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.b-text{
    flex-grow: 1;
    height: 400px;
    background-color: #f5f5f5;
    padding: 40px;

}

.b-text img{
    width: 25%;
    height: auto;
}
 
  
.b-text p {
    padding-top: 40px;
    padding-bottom: 40px;
}

.b-text span{
font-size: 13px;
}

.b-text hr{
    margin-top: 40px;
}

.logo-box{
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.logo-box img{
    width: 60%;
    height: auto;
    filter: invert(1);
}

.lightgreen {
    background-color: #a2d39b;
}
  
.bordeaux {
    background-color: #61082b;
}
  
.azzurro {
    background-color: #0093ce;
}
  
.rosso {
    background-color: #ff1c1c;
}
  
.rosso-scuro {
    background-color: #d5001f;
}
  
.celeste {
    background-color: #b4d0e7;
}
  
.blue {
    background-color: #0d2481;
}
  
.yellow {
    background-color: #ffd830;
}
/* fine SECTION BRANDS */

/* SECTION TRIAL */
.trial{
    background-color: #b4d0e7;
}

.trial-tab{
    padding-top: 100px;
    height: 300px;
}
.trial-sx {
    float: left;
    width: 70%;
    padding-right: 150px;
}

.trial-sx h2{
    color: #61082b;
}
  
.trial-dx button{
    width: 30%;
    background-color: white;
    color: black;
}

.trail-dx {
    float: left;
    width: 30%;
}

/* fine SECTION TRIAL */

/* inizio SECTION FAQ */

.faq hr{

    background-color: #eaeaeb;
    color: #eaeaeb;
    border-style: solid;
    width: 100%;
    
}
.faq-tab{
    padding-top: 20px;

}
.faq-sx {
    float: left;
    width: 95%;
    padding-right: 150px;
    padding-bottom: 20px;
}
 .faq h2{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.faq-dx {
    float: left;
    width: 5%;
    padding-bottom: 20px;
}

.faq-padding{
    margin-bottom: 100px;
}
/* fine SECTION FAQ */

                /* FINE MAIN */


/* FOOTER */

footer{
    padding-top: 80px;
    background-color: black;
}

.f-menu{
    width: 100%;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
}

.f-menu span{
    color: white;
    font-size: 16px;
}

.f-menu ul{
    list-style: none;
    padding-top: 20px;
}

.f-menu a{
    text-decoration: none;
    color: white;
    padding: 0 0;
}

.f-top{
    padding-bottom: 80px;
}

.f-bottom hr{
    color: #444448;
    border-style: solid;
    width: 90px;
}

.f-box{
    align-items: center;
}

.f-box{
    padding: 20px 0;
    font-size: 11px;
    color: #444448;
    text-align: center;
}