*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex{
    display: flex;
}

.btn{
    background-color: #0262f5;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: auto;
    
}
.big-cont {
    width: 80%;
    margin: 0 auto;
}
  
.small-cont {
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

/* HEADER */

header{
    height: 70px;
    /* background-color: lightcoral; */
    position: relative;
    font-size: 13px;
    font-weight: 700;
}
  
.header-col{
    /* background-color: bisque; */
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}

.header-left{
    width: 50%;
    /* background-color: lightblue; */
}

.header-left li, a{
list-style: none;
text-decoration: none;
padding: 0 10px;
color: inherit;
}

.header-left img{
    width: 100px;
    height: 20px;
}

.header-right{
    width: 50%;
    /* background-color: lightgreen; */
    justify-content: flex-end;
    align-items: center;
}
.header-right li, a{
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
    color: inherit;
    }
    
.header-right button{
    background-color: #0262f5;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: auto;
    
}
/* fine HEADER */

/* MAIN */

                    /* JUMBO */
.jumbo{
background-color: #b4d0e7;
height: 600px;
}

.jumbo h1{
    font-size: 58px;
    font-weight: 800;
    padding-top: 60px;
    padding-bottom: 40px;
}

.testo{
    /* border: 1px solid red; */
    font-size: 14px;
    width: 30%;
}


.testo p{
    font-size: 13px;
    font-weight: 600;
    padding-right: 5px;
    padding-bottom: 20px;
}

.testo div{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 11px;
    font-size: 600;
}

.testo span{
    font-size: 35px;
}

.jumbo-col{
    width: 100%;
}

.jumbo-col img{
    padding-left: 50px;
    /* border: 1px solid red; */
    width: 70%;
    left: 0;
    bottom: -40px;

}