*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.flex{
    display: flex;
}

/* HEADER */

header{
    height: 70px;
    /* background-color: lightcoral; */
    position: relative;
    font-size: 13px;
    font-weight: 700;
}
  
.header-col{
    background-color: bisque;
    height: 60px;
    width: 100%;
    padding: 20px 20px 10px 20px;
    align-items: center;
    position: fixed;
}

.header-left{
    width: 50%;
    /* background-color: lightblue; */
}

.header-left li, a{
list-style: none;
text-decoration: none;
padding: 0 10px;
color: inherit;
}

.header-left img{
    width: 100px;
    height: 20px;
}

.header-right{
    width: 50%;
    /* background-color: lightgreen; */
    justify-content: flex-end;
    align-items: center;
}
.header-right li, a{
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
    color: inherit;
    }
    
.header-right button{
    background-color: #0262f5;
    color: white;
    padding: 5px 10px;
    border: none;
    text-align: center;
    width: auto;
    
}
/* fine HEADER */

/* MAIN */

                    /* JUMBO */
